* {
    box-sizing: content-box;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    font-family: sans-serif;
}
.game {
    width: 50%;
    margin: 0 auto;
    max-width: 600px;
}

button{
    background: #fff;
    border: 1px solid #999;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    padding: 0;
    text-align: center;
    width: 34px;
    cursor: pointer;
    margin-left: -1px;
    margin-bottom: -1px;
}
.controls div {
    display: inline-block;
}

button.delete {
    width: initial;
}
button.enter {
    width: initial;
}

p {
    margin: 0;
}

.foundWords p {
    margin: 0;
}
.message-ctn {
    margin-left: 10px;
}

.words-ctn div {
    display: inline-block;
}

.foundWords{
    margin-right: 10px;
    float: left;
}
 .message {
     float: left;
 }